/* Add this at the top of your CSS file */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
}

.dashboard-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fffafb;
    overflow: hidden;
}

.blog-sakura-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: sans-serif;
}